@use '../../styles/abstracts/variables' as *;

ul {
  list-style-type: none;
  margin: 0;
}

.contact-me {
  &__icon {
    margin-inline-start: $space-md;
    vertical-align: middle;
  }

  a {
    font-style: $font-mono;
    font-size: $font-size-xl;
  }
}