<header id="mainHeader">
  <nav id="mainNav">
    <mat-toolbar color="primary">
      <a mat-button routerLink="/" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon> <span>Ben Harrison's Portfolio</span>
      </a>
      <a mat-button routerLink="/my-work" routerLinkActive="mat-accent">My Work</a>
      <a mat-button routerLink="/my-skills" routerLinkActive="mat-accent">My Skills</a>
      <a mat-button routerLink="/experiments" routerLinkActive="mat-accent">Experiments</a>
      <span class="fill-remaining-space" aria-hidden="true"></span>
    </mat-toolbar>
  </nav>
</header>
<main id="mainContent" class="mat-typography">
  <router-outlet></router-outlet>
</main>
