<div class="projects-list">
  <h2 class="projects-list__title">{{ heading }}</h2>

  <div class="projects-list__grid">
    @for (project of projects; track project.id) {
      <div class="card card--project">
        <div class="card__header">
          <img
            [src]="project.mainImage.url"
            [alt]="project.mainImage.altText"
            class="card__image"
          />
        </div>

        <div class="card__body">
          <h3 class="card__title">{{ project.title }}</h3>
          <p class="short-description">{{ project.shortDescription }}</p>
        </div>

        <div class="card__footer">
          <div class="btn-group">
            <a [routerLink]="['/projects', project.id]" class="btn btn--primary"
              >Learn more</a
            >
            @if (project.liveUrl) {
              <a
                [href]="project.liveUrl"
                target="_blank"
                class="btn btn--secondary"
                >Try it out</a
              >
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
