@use "../abstracts/variables" as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-sans;
  background: $color-light;
  color: $color-dark;
  line-height: 1.6;
}
